<!DOCTYPE html>
<head>
    <title>HackingEDU</title>
          {% block head %}
          {% endblock %}
</head>
<body>   
  BASE TEMPLATE
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css"/>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css"/>
<style type="text/css" src="static/index.css"></style>
<!-- <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Special+Elite"> -->
</html>