{% extends 'base.html' %}
{% block content %}

<div class="jumbotron">
  <h1>StudyTracker</h1> 
  <p>StudyTracker is a fun, interactive web application that enables students to track their academic progress. Students are rewarded with points for every hour of studying they record, and can view their progress visually. Let's get tracking!</p> 
</div>
<div class="container">
  <div class="vertical-center">
    <a class="btn btn-lg"  href="/register-form" role="button">Register for a StudyTracker Account</a>
    <br>
    <a class="btn btn-lg" href="/login" role="button">Login to Your StudyTracker Account</a>
</div>
</div>


{% endblock %}




