{% extends 'base.html' %}
{% block content %}
<style type="text/css">
 body /*{
  height: auto;
    width: auto;
    background:url("/static/img/hackededu.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: fixed;
    font-family: serif;*/
}

.btn-lg {
  background-color: hsl(145, 62%, 68%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cdf3dd", endColorstr="#7adfa4");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#cdf3dd), to(#7adfa4));
  background-image: -moz-linear-gradient(top, #cdf3dd, #7adfa4);
  background-image: -ms-linear-gradient(top, #cdf3dd, #7adfa4);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cdf3dd), color-stop(100%, #7adfa4));
  background-image: -webkit-linear-gradient(top, #cdf3dd, #7adfa4);
  background-image: -o-linear-gradient(top, #cdf3dd, #7adfa4);
  background-image: linear-gradient(#cdf3dd, #7adfa4);
  border-color: #7adfa4 #7adfa4 hsl(145, 62%, 63%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
  -webkit-font-smoothing: antialiased;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: -webkit-flex; /* For Safari */
  -webkit-justify-content: center; /* For Safari */
  -webkit-align-items: center; /* For Safari */
}

</style>
<div class="jumbotron">
  <h1>StudyTracker</h1> 
  <p>Bootstrap is the most popular HTML, CSS, and JS framework for developing responsive,
  mobile-first projects on the web.</p> 
</div>
<div class="container">
  <div class="vertical-center">
    <a class="btn btn-lg"  href="/register-form" role="button">Register for a StudyTracker Account</a>
    <br>
    <!-- <a class="btn btn-lg" href="#" role="button">Login to Your StudyTracker Account</a> -->
</div>
</div>


{% endblock %}




