<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <title>hackingeduapp.club</title>

    <!-- Bootstrap Core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="static/css/simple-sidebar.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<style type="text/css">
.panel-wrapper {
  color: #AEEE00;
  border-color: #01B0F0;}

.sidebar-brand {
    color: #333333;}

.Donutlegend li span{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;

}
tr {
  width: 300px;
  height: 100px;
  padding: 20px;

  position: absolute;
  top: 50%;
  left: 50%;

  margin: -70px 0 0 -170px;
}

  </style>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#" style="color:#33333">
                        Welcome to StudyTracker
                    </a>
                </li>
                <li>
                    <a href="#" style="color:#FF3581">StudyTracker Dashboard</a>
                </li><br>
                <li>
                    <a href="#" style="color:#FF3581">Track an Event</a>
                </li><br>
                <li>
                    <a href="#" style="color:#FF3581">View Points</a>
                </li><br>
                <li>
                    <a href="#" style="color:#FF3581">View Tracked Events</a>
                </li><br>
                <li>
                    <a href="#" style="color:#FF3581">Send StudyTracker Text Alerts</a>
                </li><br>
                <li>
                    <a href="#" style="color:#FF3581">Invite a Friend to StudyTracker</a>
                </li><br>
                <li>
                    <a href="#" style="color:#FF3581">Logout</a>
                </li><br>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <h1>StudyTracker Dashboard</h1>
        <div class="panel-wrapper">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-odnoklassniki fa-3x" style="color:#01B0F0"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">STUDENT NAME</div>
                                    <div>username</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-diamond fa-3x" style="color:#01B0F0"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">CURRENT POINTS</div>
                                    <div>###</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>



        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3">
                        <table style="position: relative;">
                        <tr>
                            To the right, you can see the break-down of the time you have spent studying for each subject. The more you study, the more points you can get, and the more free supplies you can earn!
                        </tr>
                        </table>
                    </div>
                    <div class="col-lg-9">
                        <div class="melon-class" style="width:70%; margin-left:auto; margin-right:auto">
                            <canvas id="donutChart" style="width:400px"></canvas>
                            <div id="donutLegend" class="Donutlegend"></div>
                        </div>                        
        
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

    <script>
    var options = {
        responsive: true,
    };

    // Make Donut Chart 
    var ctx_donut = $("#donutChart").get(0).getContext("2d");

    $.get("/chart_info", function(data){
        var json_data = $.parseJSON(data);
        var myDonutChart = new Chart(ctx_donut).Doughnut(json_data, options);
        $('#donutLegend').get(0).innerHTML = myDonutChart.generateLegend();
    });

    </script>

</body>

</html>

